<form action="/users/edit" method="post">
	<input type="text" name="name"  value="{{user.name}}"/>
	<input type="text" name="last"  value="{{user.last}}"/>
	<input type="hidden" name="id" value="{{user.id}}"></input>
	<button>Edit</button>
</form>